<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="filter-grid" class="is-solid"></clr-icon>
          <span class="title">Graph Providers</span>
      </a>
  </div>
  </header>
  <div class="content-container">
      <gp-left-nav-menu></gp-left-nav-menu>
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>

